

body {
    text-align: center;
     background-position: center;
     background-repeat: no-repeat;
     background-color: #2d2d2b;
     background-image: url('http://www.dimakroma.com/images/grocery.jpg');
     background-repeat:repeat ;
     background-attachment: fixed;
     color: #d45c5e;
     font-family: 'Architects Daughter';
     font-size:20px;
}

.quantity{
  width:75px;
}
h2 {
    font-family: 'Architects Daughter' ;
    font-weight:bold;
}


.btn {
    font-family: 'Architects Daughter';
    background: #f6851f;
    color: #fff;
    font-weight:bold;
    font-size: 18px;
    cursor: pointer;
    padding:5px;
    border-radius: 25px;
    width: 10em;
    margin-top:10px;
    outline: none;
}

.btn:hover{
   background: #d45c5e;
  /*fade the color for different browsers*/
  margin-top:10px;
  -webkit-transition: background-color 0.7s  ease-in-out;
  -moz-transition: background-color 0.7s  ease-in-out;
  -o-transition: background-color 0.7s  ease-in-out;
  transition: background-color 0.7s  ease-in-out;

}

ul {
  text-align: left;
  list-style: none;
  color:#aae0d3;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 8px;
    background: #474744;
    font-size: 20px;
    transition: 0.2s;
}
ul li:nth-child(odd) {
    background: #2d2d2b;
}

#inputDIV{
    width: 410px;
    margin: auto;
  /* background-image: url('http://www.dimakroma.com/images/grocery.jpg') ;*/
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2d2d2b;
    transition: 0.3s;
    box-shadow: 2px 6px 16px 0 rgba(0,0,0,0.4);
    border-radius: 8px;
    padding:10px;
    padding-right:40px;
    margin-top: 1%;
}


.strike {
  text-decoration: line-through;
  color:#d45c5e;
}


.itemDone{

}

.delete {
    font-family: 'Architects Daughter';
    float:right;
    cursor:pointer ;
    display:block;
    border-radius: 30%;
    background: #f6851f;
    color: #FFFAF0;
    text-align:center;
    text-decoration:none;
    font-size:16px;
    font-weight:bold;
}

.delete:hover{
   background: #d45c5e;
   -webkit-transition: background-color 0.7s  ease-in-out;
   -moz-transition: background-color 0.7s  ease-in-out;
   -o-transition: background-color 0.7s  ease-in-out;
   transition: background-color 0.7s  ease-in-out;
}


/*Styles for about page*/
.about-h2{
    font-weight:bold;
  font-size:20px;
  color:#d45c5e;
}

#about-body {
  text-align:left;
  margin-left:20px;
  color:#fff;
    font-family: 'Quicksand' ;
}
.about-slack{
  color:#7ad8c1;
}  
#about-body a {
  color:#7ad8c1;
  font-weight:bold;
}
#about-body a:hover {
  color:#d45c5e;
  fnot-weight:bold;
}
