
body {
    text-align: center;
    background-color: #FFFAF0;
    color: #00008B;
}


h2 {
    font-family: 'Nunito', 'Futura', Helvetica, Arial, sans-serif;
}


.btn {
    background: #00008B;
    color: #FFFAF0;
    font-size: 18px;
    cursor: pointer;
    padding:5px;
    border-radius: 25px;
    width: 10em;
}

ul {
  text-align: left;
  list-style: none;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 8px;
    background: #fff;
    font-size: 18px;
    transition: 0.2s;
}
ul li:nth-child(odd) {
    background: #cdcdcd;
}

#inputDIV{
 width: 400px;
    margin: auto;
    background-color: #beige;
    transition: 0.3s;
    box-shadow: 2px 6px 16px 0 rgba(0,0,0,0.4);
    border-radius: 8px; 
    padding: 20px;
    position: fixed;
    margin-top: 1%;

}
